In [3]:
import pandas as pd
import sqlite3
import time
import numpy as np

path = '/home/td/Documents'

In [4]:
url = 'https://s3-us-west-2.amazonaws.com/pcadsassessment/parking_citations.corrupted.csv'
df = pd.read_csv(url)
df.to_csv('{path}/tickets.csv'.format(path = path), index = False)

/home/td/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [88]:
def pandas_most_common_makes(df):
    return df['Make'].value_counts()[:25].index.tolist()


def sqlite_most_common_names(conn):
    res = conn.execute('''Select Make, COUNT(Make) As count_col
                    from tickets
                    group by Make
                    order by count_col DESC
                    LIMIT 25;''')
    
    res = [i[0] for i in res]
    print('here', res)
    return res


def pandas_most_common_color_per_make(df):
    result_series =  df.groupby('Make')['Color'].agg(lambda x: x.value_counts(dropna = False).index[0])
    return result_series.to_dict()


def sqlites_most_common_color_per_make(conn):
    res = conn.execute('''SELECT FinalTable.Make, FinalTable.Color    
                            FROM    
                             ((SELECT tickets.Make, tickets.Color, Count(tickets.Color) AS color_count
                              FROM tickets
                              GROUP BY tickets.Make, tickets.Color) As CountMakeColor
                            JOIN
                             (SELECT dT.Make, Max(dT.color_count) As max_color_count
                              FROM
                                   (SELECT tickets.Make, tickets.Color, Count(tickets.Color) AS color_count
                                    FROM tickets
                                    GROUP BY tickets.Make, tickets.Color) As dT
                              GROUP BY dT.Make) As MaxColorCount
                              
                        ON CountMakeColor.Make = MaxColorCount.Make 
                        AND CountMakeColor.color_count = MaxColorCount.max_color_count) as FinalTable''')

    res_dict = dict()
    for i in res:
        res_dict[i[0]] = i[1]
    return res_dict


def pandas_first_ticket_per_make(df):
    df_sorted = df.sort_values(by = ['Issue Date', "Issue time"])
    result_series = df_sorted.groupby('Make')['Ticket number'].agg(lambda x: x.tolist()[0])
    return result_series.to_dict()


def sqlite_first_ticket_per_make(conn):
    res = conn.execute('''select Make, "Ticket number"
                                from tickets JOIN 
                                (select Make as group_make, min("Issue Date") as earliest_date 
                                from tickets 
                                group by group_make) 
                                on group_make = make and earliest_date = "Issue Date";''')

    res_dict = dict()
    for i in res:
        res_dict[i[0]] = i[1]
    return res_dict

In [89]:
def run_timings(df, n):
    if n:
        df = df.sample(n=n)
        
    results = dict()
    results['number_of_records'] = df.shape[0]
    
    
    with sqlite3.connect(':memory:') as conn_mem, sqlite3.connect('tickets.db') as conn_disk:
        df.to_sql('tickets', conn_mem, if_exists='replace')
        df.to_sql('tickets', conn_disk, if_exists='replace')
        
        pandas_q1_start = time.time()
        res_pd = pandas_most_common_makes(df)
        pandas_q1_end = time.time()
        
        sql_q1_disk_start = time.time()
        res_sql_disk = sqlite_most_common_names(conn_disk)
        sql_q1_disk_end = time.time()
        
        sql_q1_mem_start = time.time()
        res_sql_mem = sqlite_most_common_names(conn_mem)
        sql_q1_mem_end = time.time()
        
        results['q1_pandas_time'] = pandas_q1_end - pandas_q1_start
        results['q1_sql_disk_time'] = sql_q1_disk_end - sql_q1_disk_start
        results['q1_sql_mem_time'] = sql_q1_mem_end - sql_q1_mem_start
        print(results)
        
        try:
            assert sorted(res_pd) == sorted(res_sql_disk)
        except:
            print(sorted(res_pd))
            print(sorted(res_sql_mem))
            print('difference between pandas and sql, could still be valid in cases of ties: {}'.format(set(res_pd) ^ set(res_sql_disk)))

            
        # q2
        print()
        print('q2')
        pandas_q2_start = time.time()
        res_pd = pandas_most_common_color_per_make(df)
        pandas_q2_end = time.time()
        print(pandas_q2_end - pandas_q2_start)

        sql_q2_disk_start = time.time()
        res_sql_disk = sqlites_most_common_color_per_make(conn_disk)
        sql_q2_disk_end = time.time()
        print(sql_q2_disk_end - sql_q2_disk_start)

        sql_q2_mem_start = time.time()
        res_sql_mem = sqlites_most_common_color_per_make(conn_mem)
        sql_q2_mem_end = time.time()
        print(sql_q2_mem_end - sql_q2_mem_start)
        
        results['q2_pandas_time'] = pandas_q2_end - pandas_q2_start
        results['q2_sql_disk_time'] = sql_q2_disk_end - sql_q2_disk_start
        results['q2_sql_mem_time'] = sql_q2_mem_end - sql_q2_mem_start
        
        
        try:
            assert res_pd == res_sql_disk
        except:
            set1 = set(res_pd.items())
            set2 = set(res_sql_disk.items())
            print(set1 ^ set2)
            print('difference between pandas and sql, could still be valid in cases of ties: {}'.format(set1 ^ set2))
            

        # q3
        print()
        print('q3')
        pandas_q3_start = time.time()
        res_pd = pandas_first_ticket_per_make(df)
        pandas_q3_end = time.time()
        print(pandas_q2_end - pandas_q2_start)

        sql_q3_disk_start = time.time()
        res_sql_disk = sqlite_first_ticket_per_make(conn_disk)
        sql_q3_disk_end = time.time()
        print(sql_q3_disk_end - sql_q3_disk_start)

        sql_q3_mem_start = time.time()
        res_sql_mem = sqlite_first_ticket_per_make(conn_mem)
        sql_q3_mem_end = time.time()
        print(sql_q3_mem_end - sql_q3_mem_start)
        
        results['q3_pandas_time'] = pandas_q3_end - pandas_q3_start
        results['q3_sql_disk_time'] = sql_q3_disk_end - sql_q3_disk_start
        results['q3_sql_mem_time'] = sql_q3_mem_end - sql_q3_mem_start

        try:
            assert sorted(res_pd) == sorted(res_sql_disk)
            assert sorted(res_sql_disk) == sorted(res_sql_mem)
        except:
            print(res_pd)
            print(res_sql_disk)
            print(res_sql_mem)
            raise AssertionError
        
        return [results]

In [95]:
results = []

df_with_make = df.dropna(subset= ['Make'])

for i in [1000, 2000, 4000, 8000, 16000, 32000, 64000, 128000, 256000, None]:
    results.extend(run_timings(df_with_make, i))
    
res_df = pd.DataFrame.from_dict(results)

here ['TOYT', 'HOND', 'NISS', 'FORD', 'CHEV', 'BMW', 'DODG', 'MERZ', 'HYUN', 'LEXS', 'JEEP', 'VOLK', 'OTHR', 'CHRY', 'KIA', 'AUDI', 'MAZD', 'CADI', 'GMC', 'MITS', 'VOLV', 'LNDR', 'SUBA', 'MNNI', 'UNK']
here ['TOYT', 'HOND', 'NISS', 'FORD', 'CHEV', 'BMW', 'DODG', 'MERZ', 'HYUN', 'LEXS', 'JEEP', 'VOLK', 'OTHR', 'CHRY', 'KIA', 'AUDI', 'MAZD', 'CADI', 'GMC', 'MITS', 'VOLV', 'LNDR', 'SUBA', 'MNNI', 'UNK']
{'number_of_records': 1000, 'q1_pandas_time': 0.0012919902801513672, 'q1_sql_disk_time': 0.00043702125549316406, 'q1_sql_mem_time': 0.0005424022674560547}

q2
0.03297281265258789
0.0013568401336669922
0.0012636184692382812
{('KIA', 'WT'), ('NISS', 'SL'), ('UNK', 'BG'), ('NISS', 'WT'), ('MBNZ', 'GY'), ('MERZ', 'BK'), ('INFI', 'GN'), ('FIAT', 'OR'), ('STRN', 'GN'), ('UNK', 'WT'), ('STRN', 'WT'), ('MERZ', 'WT'), ('BUIC', 'GO'), ('SUBA', 'SL'), ('KIA', 'BK'), ('SUBA', 'WT'), ('RROV', 'GY'), ('FIAT', 'WT'), ('RROV', 'GN'), ('BUIC', 'MR'), ('INFI', 'WT'), ('MBNZ', 'SI'), ('CADI', 'BK'), ('JAGU', 'RD'), ('VOLK', 'GY'), ('CADI', 'BG'), ('JAGU', 'SL'), ('VOLK', 'BK')}
difference between pandas and sql, could still be valid in cases of ties: {('KIA', 'WT'), ('NISS', 'SL'), ('UNK', 'BG'), ('NISS', 'WT'), ('MBNZ', 'GY'), ('MERZ', 'BK'), ('INFI', 'GN'), ('FIAT', 'OR'), ('STRN', 'GN'), ('UNK', 'WT'), ('STRN', 'WT'), ('MERZ', 'WT'), ('BUIC', 'GO'), ('SUBA', 'SL'), ('KIA', 'BK'), ('SUBA', 'WT'), ('RROV', 'GY'), ('FIAT', 'WT'), ('RROV', 'GN'), ('BUIC', 'MR'), ('INFI', 'WT'), ('MBNZ', 'SI'), ('CADI', 'BK'), ('JAGU', 'RD'), ('VOLK', 'GY'), ('CADI', 'BG'), ('JAGU', 'SL'), ('VOLK', 'BK')}

q3
0.03297281265258789
0.0006139278411865234
0.0005362033843994141
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'MERZ', 'VOLK', 'BMW', 'LEXS', 'HYUN', 'DODG', 'JEEP', 'KIA', 'INFI', 'MAZD', 'AUDI', 'GMC', 'CHRY', 'ACUR', 'VOLV', 'OTHR', 'SUBA', 'CADI', 'TOYO', 'MITS']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'MERZ', 'VOLK', 'BMW', 'LEXS', 'HYUN', 'DODG', 'JEEP', 'KIA', 'INFI', 'MAZD', 'AUDI', 'GMC', 'CHRY', 'ACUR', 'VOLV', 'OTHR', 'SUBA', 'CADI', 'TOYO', 'MITS']
{'number_of_records': 2000, 'q1_pandas_time': 0.0010330677032470703, 'q1_sql_disk_time': 0.0005955696105957031, 'q1_sql_mem_time': 0.0006806850433349609}

q2
0.03151130676269531
0.0017735958099365234
0.0017027854919433594
{('MITS', 'BL'), ('GMC', 'WT'), ('GMC', 'BK'), ('ACUR', 'GY'), ('JEEP', 'BK'), ('MITS', 'SL'), ('MNNI', 'WT'), ('JEEP', 'GY'), ('ACUR', 'BK'), ('CHRY', 'GY'), ('CADI', 'BK'), ('MNNI', 'RD'), ('CHRY', 'BK'), ('CADI', 'GY')}
difference between pandas and sql, could still be valid in cases of ties: {('MITS', 'BL'), ('GMC', 'WT'), ('GMC', 'BK'), ('ACUR', 'GY'), ('JEEP', 'BK'), ('MITS', 'SL'), ('MNNI', 'WT'), ('JEEP', 'GY'), ('ACUR', 'BK'), ('CHRY', 'GY'), ('CADI', 'BK'), ('MNNI', 'RD'), ('CHRY', 'BK'), ('CADI', 'GY')}

q3
0.03151130676269531
0.0010097026824951172
0.0009737014770507812
here ['TOYT', 'HOND', 'FORD', 'CHEV', 'NISS', 'BMW', 'MERZ', 'VOLK', 'LEXS', 'HYUN', 'DODG', 'KIA', 'MAZD', 'JEEP', 'AUDI', 'OTHR', 'GMC', 'INFI', 'ACUR', 'SUBA', 'CHRY', 'VOLV', 'TOYO', 'CADI', 'MITS']
here ['TOYT', 'HOND', 'FORD', 'CHEV', 'NISS', 'BMW', 'MERZ', 'VOLK', 'LEXS', 'HYUN', 'DODG', 'KIA', 'MAZD', 'JEEP', 'AUDI', 'OTHR', 'GMC', 'INFI', 'ACUR', 'SUBA', 'CHRY', 'VOLV', 'TOYO', 'CADI', 'MITS']
{'number_of_records': 4000, 'q1_pandas_time': 0.0011608600616455078, 'q1_sql_disk_time': 0.0010652542114257812, 'q1_sql_mem_time': 0.001146554946899414}

q2
0.03575634956359863
0.0034198760986328125
0.0033054351806640625
{('SMRT', 'YE'), ('UNK', 'WT'), ('CADI', 'WT'), ('SMRT', 'RD'), ('MBNZ', 'BK'), ('MBNZ', 'GY'), ('UNK', 'RD'), ('CADI', 'BK')}
difference between pandas and sql, could still be valid in cases of ties: {('SMRT', 'YE'), ('UNK', 'WT'), ('CADI', 'WT'), ('SMRT', 'RD'), ('MBNZ', 'BK'), ('MBNZ', 'GY'), ('UNK', 'RD'), ('CADI', 'BK')}

q3
0.03575634956359863
0.0021545886993408203
0.0020399093627929688
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'LEXS', 'DODG', 'JEEP', 'KIA', 'MAZD', 'OTHR', 'AUDI', 'INFI', 'ACUR', 'GMC', 'CHRY', 'SUBA', 'VOLV', 'MNNI', 'MITS', 'TOYO']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'LEXS', 'DODG', 'JEEP', 'KIA', 'MAZD', 'OTHR', 'AUDI', 'INFI', 'ACUR', 'GMC', 'CHRY', 'SUBA', 'VOLV', 'MNNI', 'MITS', 'TOYO']
{'number_of_records': 8000, 'q1_pandas_time': 0.0021638870239257812, 'q1_sql_disk_time': 0.004309415817260742, 'q1_sql_mem_time': 0.002671480178833008}

q2
0.0593874454498291
0.013836383819580078
0.008450746536254883
{('SAAB', 'BR'), ('OLDS', 'WT'), ('BENZ', 'BK'), ('ROL', 'GY'), ('OLDS', 'RD'), ('TRIU', 'BK'), ('ROL', 'BK'), ('SAAB', 'GR'), ('BUIC', 'GY'), ('BENZ', 'SI'), ('SUZU', 'GO'), ('BUIC', 'BK'), ('HYUN', 'GY'), ('TESL', 'BK'), ('SUZU', 'GY'), ('HYUN', 'BK'), ('MINI', 'YE'), ('MINI', 'GY'), ('TRIU', 'BL'), ('TESL', 'GR')}
difference between pandas and sql, could still be valid in cases of ties: {('SAAB', 'BR'), ('OLDS', 'WT'), ('BENZ', 'BK'), ('ROL', 'GY'), ('OLDS', 'RD'), ('TRIU', 'BK'), ('ROL', 'BK'), ('SAAB', 'GR'), ('BUIC', 'GY'), ('BENZ', 'SI'), ('SUZU', 'GO'), ('BUIC', 'BK'), ('HYUN', 'GY'), ('TESL', 'BK'), ('SUZU', 'GY'), ('HYUN', 'BK'), ('MINI', 'YE'), ('MINI', 'GY'), ('TRIU', 'BL'), ('TESL', 'GR')}

q3
0.0593874454498291
0.0073833465576171875
0.007966279983520508
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'LEXS', 'DODG', 'JEEP', 'KIA', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'ACUR', 'SUBA', 'INFI', 'VOLV', 'TOYO', 'MITS', 'MNNI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'LEXS', 'DODG', 'JEEP', 'KIA', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'ACUR', 'SUBA', 'INFI', 'VOLV', 'TOYO', 'MITS', 'MNNI']
{'number_of_records': 16000, 'q1_pandas_time': 0.0017442703247070312, 'q1_sql_disk_time': 0.004180431365966797, 'q1_sql_mem_time': 0.0047457218170166016}

q2
0.060485124588012695
0.017064571380615234
0.014568567276000977
{('OTHR', 'BN'), ('OLDS', 'WT'), ('OTHR', 'WT'), ('OLDS', 'RD'), ('MITS', 'BK'), ('LROV', 'GY'), ('GEO', 'WT'), ('WINN', 'WT'), ('LROV', 'BK'), ('TRIU', 'GN'), ('WINN', 'BG'), ('GEO', 'GN'), ('SMRT', 'BK'), ('DATS', 'GN'), ('TRIU', 'SL'), ('MITS', 'SL'), ('FERR', 'WT'), ('DATS', 'BN'), ('SMRT', 'WT'), ('FERR', 'RD')}
difference between pandas and sql, could still be valid in cases of ties: {('OTHR', 'BN'), ('OLDS', 'WT'), ('OTHR', 'WT'), ('OLDS', 'RD'), ('MITS', 'BK'), ('LROV', 'GY'), ('GEO', 'WT'), ('WINN', 'WT'), ('LROV', 'BK'), ('TRIU', 'GN'), ('WINN', 'BG'), ('GEO', 'GN'), ('SMRT', 'BK'), ('DATS', 'GN'), ('TRIU', 'SL'), ('MITS', 'SL'), ('FERR', 'WT'), ('DATS', 'BN'), ('SMRT', 'WT'), ('FERR', 'RD')}

q3
0.060485124588012695
0.009354352951049805
0.008144378662109375
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'INFI', 'CHRY', 'ACUR', 'SUBA', 'VOLV', 'MITS', 'TOYO', 'CADI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'INFI', 'CHRY', 'ACUR', 'SUBA', 'VOLV', 'MITS', 'TOYO', 'CADI']
{'number_of_records': 32000, 'q1_pandas_time': 0.002736806869506836, 'q1_sql_disk_time': 0.008286476135253906, 'q1_sql_mem_time': 0.008099079132080078}

q2
0.06702303886413574
0.028696537017822266
0.02817511558532715
{('TRIU', 'BK'), ('CHEC', 'RD'), ('MECO', 'BK'), ('MECO', 'BL'), ('DAEW', 'WT'), ('DAEW', 'GO'), ('FERR', 'YE'), ('CHEC', 'WT'), ('FERR', 'RD'), ('TRIU', 'BL')}
difference between pandas and sql, could still be valid in cases of ties: {('TRIU', 'BK'), ('CHEC', 'RD'), ('MECO', 'BK'), ('MECO', 'BL'), ('DAEW', 'WT'), ('DAEW', 'GO'), ('FERR', 'YE'), ('CHEC', 'WT'), ('FERR', 'RD'), ('TRIU', 'BL')}

q3
0.06702303886413574
0.0172421932220459
0.016896963119506836
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
{'number_of_records': 64000, 'q1_pandas_time': 0.004294157028198242, 'q1_sql_disk_time': 0.021106719970703125, 'q1_sql_mem_time': 0.019278764724731445}

q2
0.09997272491455078
0.07168126106262207

0.07300424575805664
{('RENA', 'OT'), ('IND', 'WT'), ('IND', 'BK'), ('EGLE', 'RD'), ('JAMB', 'BE'), ('TESL', 'GY'), ('TESL', 'SI'), ('JAMB', 'WH'), ('RENA', 'GY'), ('EGLE', 'SL')}
difference between pandas and sql, could still be valid in cases of ties: {('RENA', 'OT'), ('IND', 'WT'), ('IND', 'BK'), ('EGLE', 'RD'), ('JAMB', 'BE'), ('TESL', 'GY'), ('TESL', 'SI'), ('JAMB', 'WH'), ('RENA', 'GY'), ('EGLE', 'SL')}

q3
0.09997272491455078
0.04428505897521973
0.041661739349365234
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'JEEP', 'KIA', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'JEEP', 'KIA', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
{'number_of_records': 128000, 'q1_pandas_time': 0.007844686508178711, 'q1_sql_disk_time': 0.0399167537689209, 'q1_sql_mem_time': 0.039057016372680664}

q2
0.1313762664794922
0.14618825912475586
0.13430428504943848
{('RALY', nan), ('NABI', nan), ('NEWF', None), ('MBZ', 'SI'), ('JAG', 'GY'), ('BLUE', 'YE'), ('JAG', 'SI'), ('JENS', 'BK'), ('NABI', None), ('SATN', 'RE'), ('AUBU', 'BN'), ('AUBU', 'WT'), ('NEWF', nan), ('KW', 'WT'), ('SUB', 'TA'), ('RALY', None), ('MBZ', 'BK'), ('SUB', 'WH'), ('SATN', 'GY'), ('BLUE', 'TA'), ('KW', 'RD'), ('JENS', 'BL')}
difference between pandas and sql, could still be valid in cases of ties: {('RALY', nan), ('NABI', nan), ('NEWF', None), ('MBZ', 'SI'), ('JAG', 'GY'), ('BLUE', 'YE'), ('JAG', 'SI'), ('JENS', 'BK'), ('NABI', None), ('SATN', 'RE'), ('AUBU', 'BN'), ('AUBU', 'WT'), ('NEWF', nan), ('KW', 'WT'), ('SUB', 'TA'), ('RALY', None), ('MBZ', 'BK'), ('SUB', 'WH'), ('SATN', 'GY'), ('BLUE', 'TA'), ('KW', 'RD'), ('JENS', 'BL')}

q3
0.1313762664794922
0.09112119674682617
0.07531166076660156
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'INFI', 'CHRY', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'INFI', 'CHRY', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
{'number_of_records': 256000, 'q1_pandas_time': 0.014963388442993164, 'q1_sql_disk_time': 0.07959723472595215, 'q1_sql_mem_time': 0.08012032508850098}

q2
0.1783733367919922
0.2863039970397949
0.28401613235473633
{('CHAR', 'BK'), ('HYDN', nan), ('MB', 'BK'), ('ROLS', 'BK'), ('JIND', 'BL'), ('ROLS', 'BL'), ('MECO', 'BK'), ('OTHE', 'OT'), ('RENA', 'WT'), ('DATS', 'RD'), ('RENA', 'BN'), ('CHAR', 'BL'), ('LRVR', 'GR'), ('SATR', 'SI'), ('FLEE', 'TA'), ('FLEE', 'WH'), ('DATS', 'BK'), ('ITAS', 'BE'), ('BUGA', 'BL'), ('EGLE', 'BK'), ('LAMB', 'YE'), ('STRI', 'BK'), ('AJAX', 'BK'), ('HYDN', None), ('PORC', 'RE'), ('PEUG', 'TN'), ('DAE', 'SI'), ('DAEW', 'BL'), ('DUES', 'BL'), ('SATR', 'GY'), ('PEUG', 'GY'), ('EGLE', 'BL'), ('DAEW', 'GN'), ('BUGA', 'WT'), ('ITAS', 'WH'), ('MERK', 'BK'), ('ESTA', 'TA'), ('CARR', nan), ('PORC', 'GY'), ('MERK', 'GY'), ('STRI', 'GR'), ('CARR', None), ('MECO', 'RE'), ('MB', 'SI'), ('AJAX', 'BL'), ('LRVR', 'GY'), ('ESTA', 'WH'), ('LAMB', 'WH'), ('OTHE', 'RE'), ('JIND', 'BK'), ('TSLA', nan), ('SWIN', 'TA'), ('DAE', 'BL'), ('TSLA', None), ('DUES', 'SL'), ('SWIN', 'WH')}
difference between pandas and sql, could still be valid in cases of ties: {('CHAR', 'BK'), ('HYDN', nan), ('MB', 'BK'), ('ROLS', 'BK'), ('JIND', 'BL'), ('ROLS', 'BL'), ('MECO', 'BK'), ('OTHE', 'OT'), ('RENA', 'WT'), ('DATS', 'RD'), ('RENA', 'BN'), ('CHAR', 'BL'), ('LRVR', 'GR'), ('SATR', 'SI'), ('FLEE', 'TA'), ('FLEE', 'WH'), ('DATS', 'BK'), ('ITAS', 'BE'), ('BUGA', 'BL'), ('EGLE', 'BK'), ('LAMB', 'YE'), ('STRI', 'BK'), ('AJAX', 'BK'), ('HYDN', None), ('PORC', 'RE'), ('PEUG', 'TN'), ('DAE', 'SI'), ('DAEW', 'BL'), ('DUES', 'BL'), ('SATR', 'GY'), ('PEUG', 'GY'), ('EGLE', 'BL'), ('DAEW', 'GN'), ('BUGA', 'WT'), ('ITAS', 'WH'), ('MERK', 'BK'), ('ESTA', 'TA'), ('CARR', nan), ('PORC', 'GY'), ('MERK', 'GY'), ('STRI', 'GR'), ('CARR', None), ('MECO', 'RE'), ('MB', 'SI'), ('AJAX', 'BL'), ('LRVR', 'GY'), ('ESTA', 'WH'), ('LAMB', 'WH'), ('OTHE', 'RE'), ('JIND', 'BK'), ('TSLA', nan), ('SWIN', 'TA'), ('DAE', 'BL'), ('TSLA', None), ('DUES', 'SL'), ('SWIN', 'WH')}

q3
0.1783733367919922
0.15909075736999512
0.15503597259521484
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
here ['TOYT', 'HOND', 'FORD', 'NISS', 'CHEV', 'BMW', 'MERZ', 'VOLK', 'HYUN', 'DODG', 'LEXS', 'KIA', 'JEEP', 'AUDI', 'MAZD', 'OTHR', 'GMC', 'CHRY', 'INFI', 'ACUR', 'SUBA', 'VOLV', 'TOYO', 'MITS', 'CADI']
{'number_of_records': 4357544, 'q1_pandas_time': 0.19736886024475098, 'q1_sql_disk_time': 1.5418989658355713, 'q1_sql_mem_time': 1.499422550201416}

q2
1.1270661354064941
6.160068035125732
5.955270290374756
{('ROAD', 'WH'), ('ZZ', 'RE'), ('SCI', 'SI'), ('SAFA', 'BE'), ('KURG', 'YL'), ('HNAC', None), ('ZHON', 'BK'), ('LX', 'TA'), ('RALY', None), ('HDY', 'GR'), ('CCHM', 'WH'), ('DLPH', 'WH'), ('LARA', 'CH'), ('BNZ', 'WT'), ('UTL', nan), ('QUST', 'BL'), ('HDY', 'SI'), ('ISZU', 'BU'), ('HUAN', 'GY'), ('TELS', 'GY'), ('MUNI', 'SI'), ('ROAD', 'YE'), ('BLBR', 'YE'), ('DAE', 'SI'), ('HYDA', 'GY'), ('LANC', 'RE'), ('HYNI', 'GY'), ('KEN', 'GR'), ('DUNH', 'GY'), ('MNI', 'SI'), ('LNQT', nan), ('HUY', 'SL'), ('MNM', 'GY'), ('HARY', 'BL'), ('TAOT', 'YE'), ('HYDA', 'BU'), ('ALLD', 'BK'), ('DLPH', 'TA'), ('IFIN', 'BK'), ('HUAN', 'BK'), ('TELS', 'BK'), ('MZD', 'GY'), ('AVON', 'GY'), ('MINT', 'SI'), ('STU', 'BK'), ('CHY', 'PU'), ('HUY', 'RE'), ('MITU', 'BL'), ('BLUB', 'YE'), ('THEV', 'BK'), ('SHAN', 'RE'), ('ISZU', 'TA'), ('PTBT', 'GY'), ('ROLL', 'WH'), ('STRK', 'RE'), ('TAOT', 'BL'), ('MZD', 'BK'), ('NABI', nan), ('BLUB', 'BE'), ('SUZ', 'GY'), ('SETR', nan), ('ROLL', 'BK'), ('STCK', 'GR'), ('MNI', 'BK'), ('BUEL', 'RE'), ('CCHM', 'TA'), ('CHIE', 'BK'), ('MNM', 'BK'), ('LMBO', 'GY'), ('PTBT', 'BK'), ('HY', 'SI'), ('HYUD', 'BL'), ('AVON', 'BU'), ('OVRL', 'TA'), ('STCK', 'YE'), ('KEN', 'BL'), ('SETR', None), ('CHAN', 'WH'), ('LEXI', 'GY'), ('ALLD', 'BL'), ('MUNI', 'BK'), ('DAE', 'BU'), ('BW', 'RE'), ('CHRL', 'SI'), ('SWID', 'WH'), ('BUEL', 'BK'), ('LARA', 'BL'), ('AIRX', 'WH'), ('CAVE', 'BL'), ('SWID', 'TA'), ('HYUD', 'RE'), ('GEN', 'RE'), ('GMCC', None), ('CHY', 'RE'), ('CHRL', 'GY'), ('HYNI', 'BK'), ('UTL', None), ('RVR', 'BL'), ('KURG', 'YE'), ('ZHON', 'RE'), ('BERI', 'BK'), ('HON', 'SI'), ('LLFS', nan), ('HARY', 'BK'), ('LEXI', 'SI'), ('GMCC', nan), ('THEV', 'BL'), ('BERI', 'RE'), ('HNAC', nan), ('STU', 'GY'), ('NABI', None), ('AIRX', 'BE'), ('CHAN', 'BR'), ('CRUZ', 'TA'), ('VELO', 'WH'), ('IFIN', 'SI'), ('OVRL', 'BE'), ('STRK', 'BK'), ('FRNT', 'TA'), ('SHAN', 'SI'), ('BNZ', 'BR'), ('CAVE', 'BK'), ('LMBO', 'RE'), ('RALY', nan), ('BLBR', 'WH'), ('ZZ', 'BL'), ('SCI', 'GY'), ('BW', 'GY'), ('SUZ', 'BK'), ('DUNH', 'BK'), ('RVR', 'BK'), ('CHIE', 'RE'), ('LX', 'WH'), ('LNQT', None), ('HON', 'GY'), ('HY', 'GY'), ('VELO', 'YE'), ('CRUZ', 'WH'), ('LLFS', None), ('LANC', 'BK'), ('QUST', 'BK'), ('GEN', 'BK'), ('FRNT', 'WH'), ('MINT', 'CR'), ('MITU', 'BK'), ('SAFA', 'BR')}
difference between pandas and sql, could still be valid in cases of ties: {('ROAD', 'WH'), ('ZZ', 'RE'), ('SCI', 'SI'), ('SAFA', 'BE'), ('KURG', 'YL'), ('HNAC', None), ('ZHON', 'BK'), ('LX', 'TA'), ('RALY', None), ('HDY', 'GR'), ('CCHM', 'WH'), ('DLPH', 'WH'), ('LARA', 'CH'), ('BNZ', 'WT'), ('UTL', nan), ('QUST', 'BL'), ('HDY', 'SI'), ('ISZU', 'BU'), ('HUAN', 'GY'), ('TELS', 'GY'), ('MUNI', 'SI'), ('ROAD', 'YE'), ('BLBR', 'YE'), ('DAE', 'SI'), ('HYDA', 'GY'), ('LANC', 'RE'), ('HYNI', 'GY'), ('KEN', 'GR'), ('DUNH', 'GY'), ('MNI', 'SI'), ('LNQT', nan), ('HUY', 'SL'), ('MNM', 'GY'), ('HARY', 'BL'), ('TAOT', 'YE'), ('HYDA', 'BU'), ('ALLD', 'BK'), ('DLPH', 'TA'), ('IFIN', 'BK'), ('HUAN', 'BK'), ('TELS', 'BK'), ('MZD', 'GY'), ('AVON', 'GY'), ('MINT', 'SI'), ('STU', 'BK'), ('CHY', 'PU'), ('HUY', 'RE'), ('MITU', 'BL'), ('BLUB', 'YE'), ('THEV', 'BK'), ('SHAN', 'RE'), ('ISZU', 'TA'), ('PTBT', 'GY'), ('ROLL', 'WH'), ('STRK', 'RE'), ('TAOT', 'BL'), ('MZD', 'BK'), ('NABI', nan), ('BLUB', 'BE'), ('SUZ', 'GY'), ('SETR', nan), ('ROLL', 'BK'), ('STCK', 'GR'), ('MNI', 'BK'), ('BUEL', 'RE'), ('CCHM', 'TA'), ('CHIE', 'BK'), ('MNM', 'BK'), ('LMBO', 'GY'), ('PTBT', 'BK'), ('HY', 'SI'), ('HYUD', 'BL'), ('AVON', 'BU'), ('OVRL', 'TA'), ('STCK', 'YE'), ('KEN', 'BL'), ('SETR', None), ('CHAN', 'WH'), ('LEXI', 'GY'), ('ALLD', 'BL'), ('MUNI', 'BK'), ('DAE', 'BU'), ('BW', 'RE'), ('CHRL', 'SI'), ('SWID', 'WH'), ('BUEL', 'BK'), ('LARA', 'BL'), ('AIRX', 'WH'), ('CAVE', 'BL'), ('SWID', 'TA'), ('HYUD', 'RE'), ('GEN', 'RE'), ('GMCC', None), ('CHY', 'RE'), ('CHRL', 'GY'), ('HYNI', 'BK'), ('UTL', None), ('RVR', 'BL'), ('KURG', 'YE'), ('ZHON', 'RE'), ('BERI', 'BK'), ('HON', 'SI'), ('LLFS', nan), ('HARY', 'BK'), ('LEXI', 'SI'), ('GMCC', nan), ('THEV', 'BL'), ('BERI', 'RE'), ('HNAC', nan), ('STU', 'GY'), ('NABI', None), ('AIRX', 'BE'), ('CHAN', 'BR'), ('CRUZ', 'TA'), ('VELO', 'WH'), ('IFIN', 'SI'), ('OVRL', 'BE'), ('STRK', 'BK'), ('FRNT', 'TA'), ('SHAN', 'SI'), ('BNZ', 'BR'), ('CAVE', 'BK'), ('LMBO', 'RE'), ('RALY', nan), ('BLBR', 'WH'), ('ZZ', 'BL'), ('SCI', 'GY'), ('BW', 'GY'), ('SUZ', 'BK'), ('DUNH', 'BK'), ('RVR', 'BK'), ('CHIE', 'RE'), ('LX', 'WH'), ('LNQT', None), ('HON', 'GY'), ('HY', 'GY'), ('VELO', 'YE'), ('CRUZ', 'WH'), ('LLFS', None), ('LANC', 'BK'), ('QUST', 'BK'), ('GEN', 'BK'), ('FRNT', 'WH'), ('MINT', 'CR'), ('MITU', 'BK'), ('SAFA', 'BR')}

q3

1.1270661354064941
3.0068893432617188
3.0955491065979004

In [97]:
res_df['q1_sql_speed_difference'] = res_df['q1_sql_mem_time']/res_df['q1_pandas_time']
res_df['q2_sql_speed_difference'] = res_df['q2_sql_mem_time']/res_df['q2_pandas_time']
res_df['q3_sql_speed_difference'] = res_df['q3_sql_mem_time']/res_df['q3_pandas_time']

In [98]:
res_df

,number_of_records,q1_pandas_time,q1_sql_disk_time,q1_sql_mem_time,q2_pandas_time,q2_sql_disk_time,q2_sql_mem_time,q3_pandas_time,q3_sql_disk_time,q3_sql_mem_time,q1_sql_speed_difference,q2_sql_speed_difference,q3_sql_speed_difference
0,1000,0.001292,0.000437,0.000542,0.032973,0.001357,0.001264,0.004226,0.000614,0.000536,0.419819,0.038323,0.126869
1,2000,0.001033,0.000596,0.000681,0.031511,0.001774,0.001703,0.004261,0.001010,0.000974,0.658897,0.054037,0.228488
2,4000,0.001161,0.001065,0.001147,0.035756,0.003420,0.003305,0.006408,0.002155,0.002040,0.987677,0.092443,0.318327
3,8000,0.002164,0.004309,0.002671,0.059387,0.013836,0.008451,0.007716,0.007383,0.007966,1.234575,0.142299,1.032381
4,16000,0.001744,0.004180,0.004746,0.060485,0.017065,0.014569,0.016195,0.009354,0.008144,2.720749,0.240862,0.502885
5,32000,0.002737,0.008286,0.008099,0.067023,0.028697,0.028175,0.020543,0.017242,0.016897,2.959317,0.420380,0.822522
6,64000,0.004294,0.021107,0.019279,0.099973,0.071681,0.073004,0.038789,0.044285,0.041662,4.489534,0.730242,1.074060
7,128000,0.007845,0.039917,0.039057,0.131376,0.146188,0.134304,0.071325,0.091121,0.075312,4.978786,1.022287,1.055900
8,256000,0.014963,0.079597,0.080120,0.178373,0.286304,0.284016,0.134186,0.159091,0.155036,5.354424,1.592257,1.155381
9,4357544,0.197369,1.541899,1.499423,1.127066,6.160068,5.955270,1.578308,3.006889,3.095549,7.597057,5.283869,1.961309

My metrics show that my pandas code is faster at large data sizes and scales better. I find the pandas much simpler to write and understand, it is objectively much shorter.

I was surprized that sqlite was slower, it is possible that my sql code is not optimal but the benchmarks linked below show that pandas can outperform sqlite for joining and grouping operations. My code uses both.

https://blog.thedataincubator.com/2018/05/sqlite-vs-pandas-performance-benchmarks/