In [1]:
import pandas as pd
import requests
import numpy as np

In [2]:
data_url = 'https://s3-us-west-2.amazonaws.com/pcadsassessment/parking_citations.corrupted.csv'
raw_df = pd.read_csv(data_url)

/home/td/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
raw_df = raw_df.dropna(subset = ['Make'])

In [4]:
raw_df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
6,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
10,1106506424,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201511.0,NaN,FORD,TR,WH,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
11,1106506435,2015-12-22T00:00:00,1105.0,NaN,NaN,CA,201701.0,NaN,CHRY,PA,GO,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
14,1107179581,2015-12-27T00:00:00,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,BK,3100 N HOLLYRIDGE DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0

In [5]:
raw_df.shape

(4357544, 19)

In [6]:
raw_df['Make'].value_counts()[:50]
# notes, these could be cleaned up, clear duplicate with TOYT and TOYO, For the purpose of this exersize I will not curate this list much.
# OTHR and INTL clearly incorrect

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
MNNI     30885
LNDR     23351
PORS     21926
FRHT     20976
BUIC     20726
UNK      20658
PONT     19786
LINC     18867
GRUM     18422
STRN     18340
FIAT     16371
JAGU     13149
MERC     12916
TSMR     10991
RROV      9207
ISU       8947
INTL      7527
SUZI      6241
SAA       5704
OLDS      5470
LEXU      5098
MASE      4567
PTRB      3266
PLYM      3249
SMRT      2725
Name: Make, dtype: int64

In [7]:
top_25_names = raw_df['Make'].value_counts().index[:25].tolist()

In [8]:
df = raw_df.copy()

In [9]:
df['target'] = df['Make'].isin(top_25_names).astype(int)

In [10]:
df['target'].value_counts()

1    3986214
0     371330
Name: target, dtype: int64

# Car characteristics

In [11]:
body_styles = df['Body Style'].value_counts()[:10]

In [12]:
body_styles

PA    3834173
PU     149403
VN     116413
TK     106140
CM      70165
TR      28344
MC      13763
SU      10879
MH      10482
OT       5087
Name: Body Style, dtype: int64

In [13]:
df_body = df[df['Body Style'].isin(body_styles.index)]

In [14]:
df_body_group = df_body.groupby('Body Style')['target'].mean()

In [15]:
df_body_group

Body Style
CM    0.651436
MC    0.383928
MH    0.683457
OT    0.922941
PA    0.927128
PU    0.992731
SU    0.854306
TK    0.686678
TR    0.805673
VN    0.925558
Name: target, dtype: float64

In [16]:
positive_df = df[df['target'] == 1]
negative_df = df[df['target'] == 0]

In [17]:
positive_df['Body Style'].value_counts(normalize = True)[:10]

PA    0.892444
PU    0.037236
VN    0.027050
TK    0.018298
CM    0.011475
TR    0.005733
SU    0.002333
MH    0.001799
MC    0.001327
OT    0.001179
Name: Body Style, dtype: float64

In [48]:
negative_df['Body Style'].value_counts(normalize = True)[:10]

PA    0.754389
TK    0.089791
CM    0.066034
VN    0.023398
MC    0.022893
TR    0.014872
MH    0.008959
SU    0.004280
TL    0.003000
PU    0.002932
Name: Body Style, dtype: float64

In [50]:
car_colors = df['Color'].value_counts()[:10]
color_df = df[df['Color'].isin(car_colors.index)]
color_df.groupby('Color')['target'].mean()

Color
BK    0.915945
BL    0.914649
BN    0.674214
GN    0.894339
GO    0.913986
GY    0.943319
MR    0.918038
RD    0.902814
SL    0.948629
WT    0.909354
Name: target, dtype: float64

In [51]:
color_df.groupby('Color')['target'].count()

Color
BK    940001
BL    338908
BN     85544
GN    125145
GO     57316
GY    844745
MR     52427
RD    215598
SL    546397
WT    904267
Name: target, dtype: int64

# Location

In [24]:
df_loc = df.copy()

df_loc['Latitude'] = df_loc['Latitude'].replace(99999.0, np.nan)
df_loc['Longitude'] = df_loc['Longitude'].replace(99999.0, np.nan)
df_loc = df_loc.dropna(subset = ['Latitude', 'Longitude'])

In [25]:
df_loc.shape

(3703951, 20)

Clustering and outlier score are probably the easiest ways to use lat and long

In [26]:
from sklearn.cluster import KMeans
from sklearn.ensemble import IsolationForest

In [27]:
iso = IsolationForest()
iso.fit(df_loc[['Latitude', 'Longitude']])
df_loc['iso_loc_score'] = iso.decision_function(df_loc[['Latitude', 'Longitude']])


km_means_3 = KMeans(n_clusters=3)
df_loc['km_means_3_cluster'] = km_means_3.fit_predict(df_loc[['Latitude', 'Longitude']])

km_means_10 = KMeans(n_clusters=10)
df_loc['km_means_10_cluster'] = km_means_10.fit_predict(df_loc[['Latitude', 'Longitude']])

km_means_20 = KMeans(n_clusters=25)
df_loc['km_means_20_cluster'] = km_means_20.fit_predict(df_loc[['Latitude', 'Longitude']])

km_means_100 = KMeans(n_clusters=100)
df_loc['km_means_100_cluster'] = km_means_100.fit_predict(df_loc[['Latitude', 'Longitude']])

/home/td/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/iforest.py:213: FutureWarning: default contamination parameter 0.1 will change in version 0.22 to "auto". This will change the predict method behavior.
  FutureWarning)
/home/td/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/iforest.py:223: FutureWarning: behaviour="old" is deprecated and will be removed in version 0.22. Please use behaviour="new", which makes the decision_function change to match other anomaly detection algorithm API.
  FutureWarning)

In [35]:
df_loc.groupby('km_means_20_cluster')['target'].mean()

km_means_20_cluster
0     0.910377
1     1.000000
2     1.000000
3     0.924057
4     0.929186
5     0.898350
6     0.939829
7     0.906421
8     0.922167
9     0.924128
10    0.917075
11    0.926763
12    0.911380
13    0.909739
14    0.925004
15    0.874269
16    0.924710
17    0.936468
18    0.879078
19    0.893067
20    0.932740
21    0.922341
22    0.922389
23    0.941388
24    0.932766
Name: target, dtype: float64

In [34]:
df_loc.groupby('km_means_20_cluster')['target'].count()

km_means_20_cluster
0     115919
1          1
2          1
3     116548
4     188041
5      77098
6     133969
7     334478
8      62698
9      37326
10    316613
11     67466
12    184891
13     47850
14    124446
15       684
16    209152
17     55578
18    521702
19     36219
20     91035
21    372591
22    153805
23    314780
24    141060
Name: target, dtype: int64

In [39]:
df_loc.groupby('target')['iso_loc_score'].mean()

target
0    0.049778
1    0.047904
Name: iso_loc_score, dtype: float64

In [43]:
df_loc.groupby('RP State Plate')['target'].count()

RP State Plate
AB        754
AK        532
AL       1544
AR       1248
AS          6
AZ      33855
BC       1175
CA    3445028
CN         54
CO       9606
CT       2251
CZ         11
DC        561
DE        411
FL      16744
FN        176
GA       5066
GU          9
HI        607
IA       1465
ID       1936
IL      10794
IN       4774
KS       1872
KY       1236
LA       2755
MA       4125
MB         66
MD       3979
ME        740
       ...
NW          9
NY       7112
OH       5214
OK       3715
ON        873
OR      10462
PA       5461
PE          8
PR         13
QU        307
RI        569
SA         68
SC       1731
SD        484
TN       4411
TT         10
TX      23726
US         67
UT       5443
VA       4542
VI         10
VN        817
VT        339
WA      15046
WI       2544
WV        299
WY        588
XX         35
YU          2
|           1
Name: target, Length: 77, dtype: int64

In [41]:
df_loc.groupby('Agency')['target'].mean()

Agency
1.0     0.855991
2.0     0.840399
3.0     0.603896
4.0     0.919458
5.0     0.700000
6.0     0.500000
7.0     1.000000
8.0     1.000000
11.0    0.869241
12.0    0.857143
34.0    0.902985
35.0    1.000000
36.0    0.856269
38.0    1.000000
40.0    0.919744
41.0    0.857143
50.0    0.500000
51.0    0.916733
52.0    1.000000
53.0    0.927347
54.0    0.925923
55.0    0.920962
56.0    0.898194
57.0    0.933504
58.0    0.909325
59.0    0.625000
77.0    1.000000
97.0    0.571429
Name: target, dtype: float64

In [47]:
routes = df['Route'].value_counts()[:10]
df_routes = df[df['Route'].isin(routes.index)]
df_routes.groupby('Route')['target'].mean()

Route
00107    0.914930
00111    0.904189
00309    0.922919
00315    0.917117
00400    0.931708
00401    0.924408
00402    0.931876
00403    0.935765
00500    0.915932
00600    0.906531
Name: target, dtype: float64

Empty DataFrame
Columns: [Ticket number, Issue Date, Issue time, Meter Id, Marked Time, RP State Plate, Plate Expiry Date, VIN, Make, Body Style, Color, Location, Route, Agency, Violation code, Violation Description, Fine amount, Latitude, Longitude, target]
Index: []

# ticket information

In [53]:
car_colors = df['Violation code'].value_counts()[:10]
color_df = df[df['Color'].isin(car_colors.index)]
color_df.groupby('Color')['target'].mean()

80.69BS     1220241
88.13B+      761734
80.56E4+     303235
80.58L       299488
5204A-       267438
80.69B       185573
80.69C       145099
5200         119369
80.56E1       94060
80.69AP+      78415
80.61         61250
22500E        54241
80.69A+       48427
80.70         46740
80.56E2       45450
8069BS        44610
80.69AA+      44402
4000A1        43006
22500F        39872
22502A        38239
80.73.2       37157
22514         34179
22500H        28877
88.03A        26896
88.63B+       22656
8056E4        19539
80.69.2       18813
5204A         12913
8069B          9333
8813B          8813
             ...
573               1
8073C             1
27155             1
8753              1
8863A             1
8709E             1
8049#             1
225001D           1
80.73.1+          1
1564250           1
27465B            1
576               1
047               1
8056W#            1
8055A1            1
8055A2            1
5000A             1
039               1
1564340           1
22510             1
8073B2F           1
8073B2A3          1
21113C            1
8944C             1
8056Y             1
572521A           1
225118            1
8025B             1
80713**           1
22500F#           1
Name: Violation code, Length: 282, dtype: int64