In [1]:
import pandas as pd
import requests

In [2]:
data_url = 'https://s3-us-west-2.amazonaws.com/pcadsassessment/parking_citations.corrupted.csv'
raw_df = pd.read_csv(data_url)

/home/td/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
raw_df = raw_df.dropna(subset = ['Make'])

In [9]:
raw_df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
6,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
10,1106506424,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201511.0,NaN,FORD,TR,WH,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
11,1106506435,2015-12-22T00:00:00,1105.0,NaN,NaN,CA,201701.0,NaN,CHRY,PA,GO,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
14,1107179581,2015-12-27T00:00:00,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,BK,3100 N HOLLYRIDGE DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0

In [11]:
raw_df.shape

(4357544, 19)

In [14]:
raw_df['Make'].value_counts()[:50]
# notes, these could be cleaned up, clear duplicates with TOYT and TOYO, For the purpose of this excersize I will not curate this list much.
# OTHR and INTL may need to be dropped even for this excersize

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
MNNI     30885
LNDR     23351
PORS     21926
FRHT     20976
BUIC     20726
UNK      20658
PONT     19786
LINC     18867
GRUM     18422
STRN     18340
FIAT     16371
JAGU     13149
MERC     12916
TSMR     10991
RROV      9207
ISU       8947
INTL      7527
SUZI      6241
SAA       5704
OLDS      5470
LEXU      5098
MASE      4567
PTRB      3266
PLYM      3249
SMRT      2725
Name: Make, dtype: int64

In [17]:
top_25_names = raw_df['Make'].value_counts().index[:25].tolist()

In [18]:
df = raw_df.copy()

In [21]:
df['target'] = df['Make'].isin(top_25_names).astype(int)

In [24]:
df['target'].value_counts()

1    3986214
0     371330
Name: target, dtype: int64

In [26]:
body_styles = df['Body Style'].value_counts()[:20]

PA    3834173
PU     149403
VN     116413
TK     106140
CM      70165
TR      28344
MC      13763
SU      10879
MH      10482
OT       5087
MS       1969
BU       1638
TL       1422
RV       1231
UT        784
LM        425
TC        124
SW        122
JE         97
TT         70
Name: Body Style, dtype: int64