In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
import numpy as np
replacement_value = 'dummy_repalcement_value'
path = '/home/td/Documents'

# Problem structure

One way to set up the problem is to make it a binary classification task. This has the advantages of simplicity but it makes the assumption that large Makes share characteristics which is not always true. In this pass I solved the problem this way. 

A more thorough way to set up the problem would be to predict the make or a group of makes sharing similar characteristics and back into the probability.

# Data problems

In [2]:
# Label problems
path = '/home/td/Documents'
df = pd.read_csv('{path}/tickets.csv'.format(path=path), low_memory=False)

top_25_makes = df['Make'].value_counts()[:25].index.tolist()
df['Make'].value_counts()[:25]

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
Name: Make, dtype: int64

Curation will be required, there is at least 1 duplicate with toyota and there are some invalid makes such as OTHR

In [3]:
df.loc[:,'Latitude'] = df.loc[:,'Latitude'].replace(99999.0, np.nan)
df.loc[:,'Longitude'] = df.loc[:,'Longitude'].replace(99999.0, np.nan)

In [4]:


percent_missing = df.isnull().sum()*100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df

                                 column_name  percent_missing
Ticket number                  Ticket number         0.000000
Issue Date                        Issue Date         0.006143
Issue time                        Issue time         0.029601
Meter Id                            Meter Id        73.991538
Marked Time                      Marked Time        96.669739
RP State Plate                RP State Plate         0.008767
Plate Expiry Date          Plate Expiry Date         9.108706
VIN                                      VIN        99.813099
Make                                    Make        50.062606
Body Style                        Body Style         0.101879
Color                                  Color         0.047158
Location                            Location         0.009787
Route                                  Route         0.748956
Agency                                Agency         0.006246
Violation code                Violation code         0.000000
Violation Description  Violation Description         0.009993
Fine amount                      Fine amount         0.074570
Latitude                            Latitude        15.026185
Longitude                          Longitude        15.026185

There are problems with the latitudes and longitudes, they don't make to standard coordinates. For example: Record with ticket id 1109139006 should have latitude and longitude of 34.156940, -118.435250. It has 6467477, 1880027 instead. Provided lat and long don't seem to map to standard formats.

In [5]:
#TODO: check for differences in test and train set

# Label analysis

In [6]:
df_features = pd.read_csv('feature_analysis.csv')

In [7]:
df_features.sort_values('model_feature_importance', ascending = False)[:20]

,columns,intercept,model_feature_importance,p_value,r_value,slope,std_err
119,Fine amount,0.498704,0.021993,0.509448,0.001181,1.849256e-05,2.803185e-05
120,plate_expiration_diff_ts,0.499560,0.020995,0.257164,-0.002029,-3.013163e-22,2.659169e-22
89,ticket_dow_0.0,0.499710,0.017412,0.464613,0.001310,1.770736e-03,2.421444e-03
77,ticket_month_1.0,0.500330,0.017367,0.241517,-0.002098,-3.667722e-03,3.131575e-03
73,ticket_year_2016,0.500465,0.017072,0.370883,-0.001603,-1.844952e-03,2.061809e-03
74,ticket_year_2017,0.499632,0.016910,0.486821,0.001245,1.422203e-03,2.045231e-03
12,color_WT,0.500188,0.016517,0.681058,-0.000736,-9.082704e-04,2.209797e-03
7,color_GY,0.500446,0.016225,0.310632,-0.001816,-2.294626e-03,2.263172e-03
72,ticket_year_2015,0.500049,0.016197,0.924127,-0.000171,-1.971760e-04,2.070377e-03
86,ticket_month_10.0,0.499570,0.016158,0.109555,0.002866,5.204541e-03,3.252432e-03
30,route_dummy_replacement_value,0.499035,0.015534,0.586839,0.000973,1.210285e-03,2.227154e-03
17,agency_54.0,0.499951,0.015519,0.923742,0.000171,1.991852e-04,2.080899e-03
91,ticket_dow_2.0,0.500216,0.015338,0.611999,-0.000908,-1.169437e-03,2.305569e-03
15,agency_51.0,0.499839,0.015124,0.737135,0.000601,7.221918e-04,2.151619e-03
83,ticket_month_7.0,0.499798,0.014974,0.444214,0.001370,2.523178e-03,3.297850e-03
90,ticket_dow_1.0,0.499558,0.014564,0.314790,0.001800,2.275849e-03,2.264023e-03
93,ticket_dow_4.0,0.500748,0.014465,0.057241,-0.003405,-4.623488e-03,2.431534e-03
10,color_SL,0.500060,0.014456,0.858215,-0.000320,-4.835582e-04,2.706785e-03
92,ticket_dow_3.0,0.499820,0.014359,0.676791,0.000747,9.547368e-04,2.290379e-03
2,color_BK,0.499930,0.014335,0.882280,0.000265,3.224668e-04,2.177657e-03

In [ ]:
df_labels = pd.read_csv('label_analysis.csv')
df_labels = df_labels[df_labels['Make'].isin(top_25_makes)]
df_counts= df_labels['Make'].value_counts()
from sklearn.preprocessing import StandardScaler

relevant_features = df_features.sort_values('model_feature_importance', ascending = False)['columns'][:20].tolist()


for i in relevant_features:
    scaler = StandardScaler()
    df_labels.loc[:, i] =  scaler.fit_transform(df_labels[i].values.reshape(-1, 1))
df_labels


df_group = df_labels[['Make'] + relevant_features].groupby('Make').mean()

In [ ]:
df_labels.head()

In [ ]:
from sklearn.cluster import KMeans


cluster_alg = KMeans(n_clusters = 3)
df_group['cluster'] = cluster_alg.fit_predict(df_group[relevant_features])
df_group.sort_values('cluster')

In [ ]:
df_group.groupby('cluster').mean()

# Features

There are 3 general type of features: location, car characteristics and ticket/violation characteristics. 

The best location features are the Route and ticket location density (lat_long_outlier_score). 

The best car characteristics features are the Body type and the car color. 

The best violation features are the fine amount and datetime information about the violation. Fine amount is important as it captures other violation information and is correlated to violation description features.

In [11]:
df_copy = df.copy()
df_copy = df_copy.dropna(subset = ['Make'])
df_copy['target'] = df_copy['Make'].isin(top_25_makes).astype(int)

def pad_int(num, l = 4):
    if not pd.isna(num):
        num = int(float(num))
        num_str = str(num)
        while len(num_str) < l:
            num_str  = '0' + num_str
        return num_str

df_copy['ticket_dt'] = pd.to_datetime(df_copy.loc[:,'Issue Date'], errors='coerce')
df_copy['ticket_year'] = df_copy['ticket_dt'].dt.year
df_copy['ticket_month'] = df_copy['ticket_dt'].dt.month
df_copy['ticket_dow'] = df_copy['ticket_dt'].dt.dayofweek
df_copy['ticket_hour_of_day'] = df_copy['Issue time'].apply(lambda x: pad_int(x)).astype(str).str[:2]

In [12]:
def get_cat_info_about_column(df, col_name, min_perc = .01):
    valid_values = [i for  i, j in dict(df_copy[col_name].value_counts(normalize = True)).items() if j >= min_perc]
    df_valid = df_copy[df_copy[col_name].isin(valid_values)]
    mean_df =  df_valid.groupby([col_name])['target'].mean().to_frame()
    count_df = df_valid[col_name].value_counts(normalize = True).to_frame()
    count_df =  count_df.reset_index()
    count_df.columns = [col_name, 'perc_of_values']
    mean_df.columns = ['mean_target']
    mean_df =  mean_df.reset_index()
    output = mean_df.merge(count_df)
    return output.sort_values('perc_of_values', ascending = False)

In [13]:
get_cat_info_about_column(df_copy, 'RP State Plate', min_perc = .001)

   RP State Plate  mean_target  perc_of_values
1              CA     0.914914        0.943410
0              AZ     0.939867        0.009045
19             TX     0.923509        0.006372
12             NV     0.938159        0.006059
3              FL     0.908506        0.004441
22             WA     0.936398        0.004020
5              IL     0.904017        0.002899
16             OR     0.926637        0.002807
2              CO     0.939125        0.002566
13             NY     0.909765        0.001911
17             PA     0.921350        0.001481
20             UT     0.917278        0.001458
9              MI     0.867817        0.001428
14             OH     0.914989        0.001397
4              GA     0.913118        0.001354
11             NJ     0.927194        0.001350
6              IN     0.633547        0.001305
18             TN     0.832912        0.001287
21             VA     0.939706        0.001218
7              MA     0.934347        0.001101
8              MD     0.941084        0.001038
10             MO     0.897505        0.001034
15             OK     0.828851        0.001020

In [14]:
get_cat_info_about_column(df_copy, 'Route', min_perc = .01)

   Route  mean_target  perc_of_values
8  00600     0.906531        0.292103
7  00500     0.915932        0.205643
5  00402     0.931876        0.099345
4  00401     0.924408        0.096670
6  00403     0.935765        0.074387
3  00315     0.917117        0.063738
1  00111     0.904189        0.061456
0  00107     0.914930        0.056316
2  00309     0.922919        0.050343

In [15]:
get_cat_info_about_column(df_copy, 'Body Style', min_perc = .01)

  Body Style  mean_target  perc_of_values
1         PA     0.927128        0.896611
2         PU     0.992731        0.034937
4         VN     0.925558        0.027223
3         TK     0.686678        0.024821
0         CM     0.651436        0.016408

In [16]:
get_cat_info_about_column(df_copy, 'ticket_hour_of_day', min_perc = .01)

   ticket_hour_of_day  mean_target  perc_of_values
10                 12     0.916145        0.129633
6                  08     0.928770        0.126963
8                  10     0.917084        0.123134
9                  11     0.904551        0.087580
7                  09     0.906974        0.063702
11                 13     0.904565        0.063257
14                 16     0.904276        0.053326
12                 14     0.900727        0.048345
16                 18     0.922039        0.038526
15                 17     0.911528        0.037841
13                 15     0.899956        0.035122
17                 19     0.920234        0.034224
5                  07     0.921308        0.022504
0                  01     0.921909        0.020427
18                 20     0.925528        0.019171
1                  02     0.923023        0.018287
20                 22     0.925317        0.017530
19                 21     0.924886        0.015634
4                  06     0.918385        0.012986
21                 23     0.920201        0.010995
2                  03     0.916603        0.010618
3                  04     0.917803        0.010195

In [17]:
# get_cat_info_about_column(df_copy, 'ticket_month', min_perc = .01)

In [18]:
get_cat_info_about_column(df_copy, 'ticket_dow', min_perc = .01)

   ticket_dow  mean_target  perc_of_values
1           1     0.912119        0.194048
3           3     0.915282        0.187689
2           2     0.915017        0.185382
0           0     0.912202        0.163238
4           4     0.914962        0.162515
5           5     0.920945        0.056258
6           6     0.923178        0.050870

In [19]:
df_corr = df_labels.corr()

In [20]:

df_corr[(df_corr['Fine amount'] > .1)|(df_corr['Fine amount'] < -.1)].sort_values('Fine amount')

,Unnamed: 0,rp_state_plate_CA,rp_state_plate_dummy_replacement_value,color_BK,color_BL,color_BN,color_GN,color_GO,color_GY,color_MR,...,ticket_hour_of_day_17,ticket_hour_of_day_18,ticket_hour_of_day_19,ticket_hour_of_day_20,ticket_hour_of_day_21,ticket_hour_of_day_22,ticket_hour_of_day_23,ticket_hour_of_day_dummy_replacement_value,Fine amount,plate_expiration_diff_ts
violation_code_5204A-,0.000850,0.067625,-0.067625,0.001434,0.005625,-0.020215,0.019858,0.010108,-0.005932,0.009860,...,0.011208,-0.007639,-0.009475,-0.008594,-0.005060,-0.002042,-0.002146,0.013127,-0.359311,0.033760
violation_desc_DISPLAY OF TABS,0.000850,0.067625,-0.067625,0.001434,0.005625,-0.020215,0.019858,0.010108,-0.005932,0.009860,...,0.011208,-0.007639,-0.009475,-0.008594,-0.005060,-0.002042,-0.002146,0.013127,-0.359311,0.033760
violation_code_5200,0.001174,0.043663,-0.043663,0.032761,-0.003209,-0.015704,-0.009995,-0.006869,-0.000933,-0.006351,...,0.020013,0.014016,0.017879,0.003898,0.001219,0.003794,0.004466,0.009727,-0.235360,0.013699
violation_desc_DISPLAY OF PLATES,0.001174,0.043663,-0.043663,0.032761,-0.003209,-0.015704,-0.009995,-0.006869,-0.000933,-0.006351,...,0.020013,0.014016,0.017879,0.003898,0.001219,0.003794,0.004466,0.009727,-0.235360,0.013699
violation_code_88.13B+,0.000272,-0.017319,0.017319,0.037732,-0.006868,-0.026866,-0.021376,-0.015220,0.007799,-0.013957,...,0.126604,0.047035,0.115894,-0.047497,-0.046755,-0.051226,-0.042407,-0.059380,-0.102341,-0.001926
violation_desc_METER EXP.,0.000272,-0.017319,0.017319,0.037732,-0.006868,-0.026866,-0.021376,-0.015220,0.007799,-0.013957,...,0.126604,0.047035,0.115894,-0.047497,-0.046755,-0.051226,-0.042407,-0.059380,-0.102341,-0.001926
violation_code_dummy_replacement_value,0.001037,-0.000592,0.000592,-0.019691,0.000640,-0.004275,-0.017782,0.003598,-0.018815,-0.009700,...,0.018350,-0.001696,-0.000986,0.024745,0.032396,0.028403,0.029890,0.048624,0.170950,0.016831
violation_code_80.56E4+,-0.000532,0.007586,-0.007586,-0.029748,-0.017079,0.192555,-0.001236,-0.003901,-0.027349,-0.002045,...,-0.007078,-0.020202,-0.008541,0.005106,0.012033,0.013871,0.012323,0.050498,0.194697,-0.081224
violation_desc_RED ZONE,-0.000319,0.007672,-0.007672,-0.029292,-0.016353,0.184740,-0.004084,-0.003688,-0.026498,-0.003813,...,-0.007292,-0.019758,-0.008557,0.006652,0.014417,0.014794,0.013833,0.055329,0.201302,-0.075618
violation_desc_dummy_replacement_value,0.001081,-0.001228,0.001228,-0.019449,-0.000366,-0.003133,-0.013458,0.002873,-0.017922,-0.006376,...,0.026528,0.000843,-0.006071,0.018253,0.025385,0.015730,0.020026,0.035758,0.253882,0.012552
violation_code_80.70,0.000855,-0.000631,0.000631,-0.001034,-0.001572,-0.006622,0.001125,-0.001076,0.003648,0.002593,...,0.022719,0.005039,-0.019279,-0.014513,-0.012933,-0.013837,-0.010878,-0.013465,0.302170,0.001196
Fine amount,0.000455,-0.025432,0.025432,-0.020653,-0.007112,0.045617,-0.002505,0.000079,-0.001630,0.002211,...,-0.008696,-0.014472,-0.025835,0.000540,0.003262,0.004846,0.001951,0.002620,1.000000,-0.031614

In [21]:
df_corr[(df_corr['plate_expiration_diff_ts'] > .1)|(df_corr['plate_expiration_diff_ts'] < -.1)].sort_values('plate_expiration_diff_ts')

,Unnamed: 0,rp_state_plate_CA,rp_state_plate_dummy_replacement_value,color_BK,color_BL,color_BN,color_GN,color_GO,color_GY,color_MR,...,ticket_hour_of_day_17,ticket_hour_of_day_18,ticket_hour_of_day_19,ticket_hour_of_day_20,ticket_hour_of_day_21,ticket_hour_of_day_22,ticket_hour_of_day_23,ticket_hour_of_day_dummy_replacement_value,Fine amount,plate_expiration_diff_ts
color_BN,0.000476,0.022457,-0.022457,-0.074064,-0.041042,1.000000,-0.024349,-0.016344,-0.069358,-0.015561,...,-0.002933,-0.015942,-0.017472,-0.014116,-0.012526,-0.014147,-0.011199,-0.012671,0.045617,-0.162739
body_style_CM,0.001341,0.011131,-0.011131,-0.055906,-0.023681,0.277294,-0.005991,-0.011964,-0.054591,-0.009842,...,0.005405,-0.010166,-0.010894,-0.005762,-0.004348,-0.001482,-0.004111,-0.008826,0.047884,-0.123776
body_style_PA,0.000359,-0.010378,0.010378,0.094720,0.023830,-0.215208,-0.005252,0.011019,0.083599,0.003878,...,0.016368,0.032061,0.034740,0.020061,0.013056,0.011692,0.008160,-0.007686,-0.051081,0.111827
plate_expiration_diff_ts,-0.000687,0.076915,-0.076915,0.003964,0.017584,-0.162739,0.012109,0.014463,0.025608,0.008962,...,0.011284,0.013252,0.012103,0.013343,0.008386,0.011880,0.010003,0.010999,-0.031614,1.000000

# Evaluation

In [22]:
tn, fp, fn, tp = 24072, 269106, 13273, 129304
total_num = tn + fp + fn + tp
precision = tp/(tp + fp)
recall = tp/(tp + fn)
f1_score = 2 * (precision*recall)/(precision + recall)

In [23]:
eval_df = pd.DataFrame(data = [[tp/total_num, fp/total_num], [tn/total_num, fn/total_num]],
                      columns = [1, 0],
                      index = [1, 0])
eval_df

          1         0
1  0.296736  0.617563
0  0.055242  0.030460